# Byte-compiled / optimized / DLL files
**/__pycache__/

# Virtual environment
venv/

# Submlime text project files
*.sublime-project
*.sublime-workspace

# SQLite DB
*.db

# Environment 
.env
.flaskenv


# Logs
logs/

# Blog posts
blog_posts/