# Byte-compiled / optimized / DLL files
**/__pycache__/

# Virtual environment
venv/

# Submlime text project files
*.sublime-project
*.sublime-workspace

# SQLite DB
cdouglas.db

# Environment 
.env
.flaskenv

# Migration files, but don't ignore the actual migration scripts
migrations/*
!migrations/versions/

# Logs
logs/