# Byte-compiled / optimized / DLL files
**/__pycache__/

# Folders specifically to ignore
**/.ignore/

# Virtual environment
venv/

# Submlime text project files
*.sublime-project
*.sublime-workspace

# SQLite DB
*.db

# Environment 
.env
.flaskenv


# Logs
logs/

# Blog posts
blog_posts/

# API docs (XML) -- in development
api_docs/ 