:root {
  --gray: hsl(0, 0%, 30%);
  --primary: 	hsl(0, 100%, 50%);
  --secondary1: hsl(211, 100%, 50%);
  --secondary2: hsl(149, 100%, 50%);
}


body {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Bungee', sans-serif;
}

h2 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 3em;
  font-weight: bold;
}

h3 {
  font-family: 'Share Tech Mono', monospace;
}

nav a:hover {
  text-decoration: none;
}

.cursor {
  -webkit-animation: blink 1.25s infinite;
  -moz-animation: blink 1.25s infinite;
  -o-animation: blink 1.25s infinite;
  animation: blink 1.25s infinite;

  background-color: #aaa;
  color: #aaa;
  height: 100%;
  margin: 2px;
  opacity: 0.75;
  display: inline;
}

@-webkit-keyframes blink { 50% { opacity:0.05; } }
@-moz-keyframes blink { 50% { opacity:0.05; } }
@-o-keyframes blink { 50% { opacity:0.05; } }
@keyframes blink { 50% { opacity:0.05; } }

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

.title-background {
  position: relative;
  width: 0px;
  height: 100%;
}

.coming-soon {
  position: relative; 
  width:100%;
}



.coming-soon-title {
  font-family: 'Bungee', sans-serif;
  color: white;
  font-size: 3rem;
}

@media screen and (min-width: 450px) {
    .coming-soon-title {
      font-size: 4rem;
    }
}

.cmd-btn-secondary1 {
  background-color: var(--secondary1);
  color: white;
  font-weight: bold;
  transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -webkit-transition: background-color 0.25s linear;
}

.cmd-btn-secondary1:hover {
  background-color: hsl(211, 100%, 35%);
  color: white;
}

    
.cmd-btn-gray {
  background-color: var(--gray);
  color: white;
  font-weight: bold;
  transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -webkit-transition: background-color 0.25s linear;
}

.cmd-btn-gray:hover {
  background-color: hsl(0, 0%, 15%);
  color: white;
}


.square {
  position: absolute;

}

.gray {
  background-color: var(--gray);
}

.primary {
  background-color: var(--primary);
}

.primary-text {
  color: var(--primary);
}

.secondary1 {
  background-color: var(--secondary1);
}

.secondary1-text {
  color: var(--secondary1);
}

.secondary2 {
  background-color: var(--secondary2);
}
