:root {
    --main-color: hsl(211, 100%, 60%);
    --main-gray: #555;
    --light-gray: #aaa;
    --white: #fff;
}

html { height: 100%; }
body {
    height: 100%;
    padding-top: 70px;
    font-size: 13pt;
    font-family: 'Roboto', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: 'Roboto Slab', serif;
}
a:link, a:visited {
    color: var(--main-color);
    text-decoration: none;
}

a:hover, a:active {
    color: #000;
    text-decoration: underline;
}

code a { color: var(--main-color); }

hr { border-top: 1px solid var(--main-gray);    }

.label-info { background: var(--main-color); }

.label-link:hover { text-decoration: none;}

.navbar {
    background-color: var(--white);
    border-bottom: 3px solid var(--main-gray);
}

.navbar a {
    font-size: 1.1em;
    font-weight: bold;
}

#main {
    min-height: 95%;
    margin-bottom: 2em;
}

.jumbotron { background-color: var(--main-gray); }

.jumbotron h1, .jumbotron p { color: var(--white);}

.jumbotron .btn { color: var(--main-gray); }

.jumbotron .btn:hover {
    background-color: var(--main-gray);
    border-color: #000;
    color: var(--white);
}

.lead { font-weight: bold;}

.row-about {
    border: 2px solid var(--main-gray);
    border-radius: 0.5em;
    padding: 10px;
    margin-bottom: 1em;
}

.row-about .list-group-item {
    font-size: 1.1em;
    border: 0px;
}

.row-about .icon { height: 1em; }

.footer {
    background-color: var(--main-gray);
    color: var(--white);
}

.footer div p {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

.footer div a:hover, .footer div a:active { color: var(--white); }

.footer-text {
    margin-left: 20px;
    margin-right: 20px;
}

.blog-title {
    margin-bottom: 10px;
    margin-top: 20px;
}

.timestamp {
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
    padding: 3px 6px;
    font-size: 0.8em;
    font-weight: bold;
}

.blog-header { border-bottom: 2px solid var(--main-gray); }

.blog-header p { font-size: 1.25em; }

.blog-body h1, h2, h3, h4, h5, h6 { margin-top: 2em; }

.blog-body pre {
    margin-top: 25px;
    margin-bottom: 25px;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto;
}

.blog-body pre code {
    word-wrap: normal;
    white-space: pre;
}

.blog-recent-posts .list-group-item { border: 0px; }

.blog-recent-posts .list-group-item:hover { background-color: hsl(211, 100%, 97%); }

.blog-post-summary {
    padding: 10px;
    padding-bottom: 50px;
    border: 1px solid var(--white);
}

.blog-post-summary:hover { border: 1px solid var(--light-gray); }

.prev-next-buttons { padding: 10px; }

.prev-next-buttons .btn { color: var(--main-gray); }

.prev-next-buttons .btn:hover {
    background-color: var(--main-gray);
    border-color: #000;
    color: var(--white);
}

.pagination li.disabled span { cursor: pointer; }
.pagination li a, .pagination li a:hover { color: var(--main-gray); }
.pagination li.active span, .pagination li.active span:hover {
    background-color: var(--main-gray);
    border-color: var(--main-gray);
}