html { height: 100%; }
body {
    height: 100%;
    padding-top: 70px;
}

a:link, a:visited {
    color: hsl(211, 100%, 60%);
    text-decoration: none;
}

a:hover, a:active {
    color: #000;
    text-decoration: underline;
}

code {
    
}

.navbar {
    background-color: #fff;
    border-bottom: 3px solid #555;
}

.navbar a {
    font-size: 1.25em;
    font-weight: bold;
}

#main {
    min-height: 100%;
}

.jumbotron {
    background-color: #555;
}

.jumbotron h1, .jumbotron p {
    color: #fff;
}

.jumbotron .btn {
    color: #555;
}
.jumbotron .btn:hover {
    background-color: #555;
    border-color: #000;
    color: #fff;
}

.row-about {
    border: 2px solid #555;
    border-radius: 0.5em;
    padding: 10px;
    margin-bottom: 1em;
}

.row-about .list-group-item {
    font-size: 1.3em;
    border: 0px;
}

.row-about .icon {
    height: 1em;
}

.footer {
    background-color: #555;
    color: #fff;
}

.footer div p {
    margin: 10px;
    padding: 5px;
    font-size: 1.25em;
    font-weight: bold;
}

.footer div a:hover, .footer div a:active {
    color: #fff;
}

.footer-text {
    margin-left: 20px;
    margin-right: 20px;
}

.blog-header {
    border-bottom: 2px solid #555;
}

.blog-header p {
    font-size: 1.25em;
}

.blog-recent-posts .list-group-item {
    border: 0px;
}

.blog-recent-posts .list-group-item:hover {
    background-color: hsl(211, 100%, 97%);
}

.prev-next-buttons {
    padding: 10px;
}

.prev-next-buttons .btn {
    color: #555;
}
.prev-next-buttons .btn:hover {
    background-color: #555;
    border-color: #000;
    color: #fff;
}