{% macro render_pagination(pager, url) -%}
    <div class="row">
        <div class="col-xs-12">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if pager.has_prev %}
                    <li>
                        <a href="{{ url ~ '?page=' ~ pager.prev_num }}" aria-label="Previous">
                            <i class="fas fa-arrow-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <span><i class="fas fa-times" aria-hidden="true"></i></span>
                    </li>
                    {% endif %}
                    {% for page in pager.iter_pages() %}
                      {% if page %}
                        {% if page != pager.page %}
                        <li><a href="{{ url ~ '?page=' ~ page }}">{{ page }}</a></li>
                        {% else %}
                        <li class="active"><span><strong>{{ page }}</strong> <span class="sr-only">(current)</span></span></li>
                        {% endif %}
                      {% else %}
                        <li><span class="ellipsis">...</span></li>
                      {% endif %}
                    {% endfor %}
                    {% if pager.has_next %}
                    <li>
                        <a href="{{ url ~ '?page=' ~ pager.next_num }}" aria-label="Next">
                            <i class="fas fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <span><i class="fas fa-times" aria-hidden="true"></i></span>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{%- endmacro %}
