{% extends 'blog/blog_base.html' %}
{% from 'blog/_blog_macros.html' import render_pagination %}

{% block blog_content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>All posts.</h3>
            {% if not posts.items %}
            <hr>
            <p>No posts yet.</p>
            <p><a href="{{ url_for('.main') }}">Return to <em>{{ g.blog_title }}</em></a></p>
            {% else %}
            {% for post in posts.items %}
            <div class="blog-post-summary">
                {% include 'blog/_post_title.html' %}
                <hr>
                <p>{{ post.body[:100] }}...</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {{ render_pagination(posts, url_for('.all_posts')) }}

{% endblock %}