{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ title }}</h1>
            <p><a href="{{ url_for('blog.main') }}">Just kidding.</a></p>
        </div>
    </div>

    {% if form %}
    <div class="row">
        <div class="col-md-8">
            <form action="" method="post" class="form" role="form" id="post_form">
                {{ form.hidden_tag() }}
                {{ form.id_() }}
                <div class="form-group required">
                    {{ form.title.label(class='control-label') }} 
                    {{ form.title(class='form-control') }}
                </div>
                <div class="form-group required">
                    {{ form.body.label(class='control-label') }} 
                    {{ form.body(class='form-control', rows=15) }}
                </div>
                <div class="checkbox">
                    <label>{{ form.public() }} {{ form.public.label.text }}</label>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-default" type="button" id="btn_save">Save</button>
                    <input class="btn btn-default" type="submit" name="submit" value="Post">
                    <button class="btn btn-danger pull-right{% if not form.id_.data %} disabled{% endif %}" type="button" data-toggle="{% if form.id_.data %}modal{% endif %}" data-target="#modal_delete" id="btn_delete">Delete</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="modal_delete_title">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_delete_title">Delete post</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this post? This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="modal_btn_delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        function savePost(event) {
            $.ajax({
                method: 'POST',
                url: {{ url_for('blog.save_post')|tojson }},
                data: $('#post_form').serialize()
            }).done(function (data) {
                $('#message_box').append('<div class="alert alert-info" role="alert">' + data.message + '</div>');
                // Enable the delete button
                $('#id_').val(data.post_id);
                $('#btn_delete').removeClass('disabled');
                $('#btn_delete').attr('data-toggle', 'modal');
            });
        }

        function deletePost(event) {
            $.post({{ url_for('blog.delete_post')|tojson }}, {'post_id': $('#id_').val()}, function(data) {
                window.location.replace(data);
            });
            $('#modal_delete').modal('hide')
        }

        // Page load
        $(function() {
            $('#modal_btn_delete').on('click', deletePost);
            $('#btn_save').on('click', savePost);
        });

    </script>
{% endblock %}