{% extends "base.html" %}

{% block app_content %}

    <div class="row">
        <div class="jumbotron">
            <h1><i class="fas fa-adjust"></i> Colin Douglas</h1>
            <p>Teacher // Developer <br \></p>
            <p>
                <a class="btn btn-default btn-lg" href="{{ url_for('blog.main') }}">Read the blog</a>
                <a class="btn btn-default btn-lg" href="#" id="projects_btn">Example projects</a>
            </p>
        </div>
    </div>
    <div class="row row-about">
        <div class="col-sm-1 hidden-xs">
            <div class="center-block"><i class="fas fa-glasses fa-3x" title="About Colin" aria-hidden="true"></i></div>
        </div>
        <div class="col-sm-11">
            <h2>About Colin</h2>
            <p><span class="lead">Computer science & mathematics teacher in Vancouver, Washington. <i class="fas fa-chalkboard-teacher" aria-hidden="true"></i></span> Colin has taught 6th-12th grade students all across the academic spectrum for the past seven years. He currently teaches
            Python and Geometry to high school students.</p>
            <p><span class="lead">Software developer <i class="fas fa-code" aria-hidden="true"></i></span> Coding since the early 2000s, C and Java were Colin's primary
                languages through college. Currently his language of choice is Python, with more recent forays into 
            C# and Javascript.</p>
            <p>With degrees in both computer science and mathematics, Colin's main coding focus is application logic
                and "the fundamentals", though he also has experience across the tech stack: Server-side logic, databases, RESTful services, and basic UI design. <a href="https://github.com/cmdpdx/cdouglas.xyz">The source code for this website is an exemplar of some of this experience.</a>
                </p>
        </div>
    </div>
    <div class="row row-about">
        <div class="col-sm-1 hidden-xs">
            <div class="center-block"><i class="fas fa-file-code fa-3x" title="About Site" aria-hidden="true"></i></div>
        </div>
        <div class="col-sm-11">
            <h2>About this site</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <img class="icon" src="{{ url_for('static', filename='bootstrap-solid.svg') }}">
                     Styled with <a href="https://getbootstrap.com" target="_blank">Bootstrap 3.3.7</a>.
                </li>
                <li class="list-group-item">
                    <i class="fab fa-font-awesome-flag" aria-hidden="true"></i> And generous usage of 
                    <a href="https://fontawesome.com/" target="_blank">Font Awesome</a> icons.
                </li>
                <li class="list-group-item">
                    <i class="fab fa-js" aria-hidden="true"></i> Dynamic styling and asynchronous updates
                    with <a href="https://jquery.com/" target="_blank">jQuery</a>.
                </li>
                <li class="list-group-item">
                    <p><i class="fas fa-flask" aria-hidden="true"></i> Backend built with
                        <a href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a>...</p>
                    <p>... and
                        <a href="http://flask-sqlalchemy.pocoo.org/2.3/" target="_blank">flask-sqlalchemy</a>,
                        <a href="https://flask-login.readthedocs.io/en/latest/" target="_blank">flask-login</a>,
                        <a href="https://flask-migrate.readthedocs.io/en/latest/" target="_blank">flask-migrate</a>,
                        <a href="https://pythonhosted.org/Flask-Bootstrap/" target="_blank">flask-bootstrap</a>,
                        <a href="https://pypi.org/project/Flask-Moment/" target="_blank">flask-moment</a>.
                    </p>
                    <p>... and the knowledge gained from this excellent blog series:
                        <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world"
                        target="_blank">The Flask Mega-Tutorial</a> by Miguel Grinberg.
                    </p> 
                </li>
                <li class="list-group-item">
                    <i class="fab fa-python" aria-hidden="true"></i> <a href="https://www.python.org" 
                    target="_blank">Python 3.7.2</a>.
                </li>
                <li class="list-group-item">
                    <i class="fab fa-ubuntu" aria-hidden="true"></i> Ubuntu 16.04, MySQL, WEBSERVER
                </li>
                <li class="list-group-item">
                    <i class="fab fa-digital-ocean" aria-hidden="true"></i>
                    Hosting on <a href="https://www.digitalocean.com" target="_blank">Digital Ocean</a>.
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        $(function(){
            // Disable the project button for now, display message instead
            var button = $('#projects_btn');
            button.hover(
                function(event) {
                    var elem = $(event.currentTarget);
                    var width = elem.width();
                    elem.text('Coming soon');
                    elem.width(width);
                },
                function(event) {
                    var elem = $(event.currentTarget);
                    elem.text('Example projects');
                });
            button.click(
                function(event) {
                    event.preventDefault();
                });
        });
    </script>
{% endblock %}